

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Exporter données
</title>
<h3> générer le : {{ "now"|date("d/m/Y") }} <h3>

</head>
<style>
#customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}
</style>
<body>

<h2><center>
les details de l'opportunité</center></h2>

<table style="width:100%" id="customers" align="center">
  <tr>
    <td>commercial</td>
    <td>date soumission</td>
    <td>date attribution</td>
      <td>valeur totale</td>
    <td>valeur nette</td>
    <td>client</td>
      <td>departement</td>
    <td>territoire</td>
    <td>pays</td>
      <td>status</td>
    <td>etape de transaction</td>
        <td>confiance</td>
            <td>accord</td>


   
  </tr>
  <tr>
<td>{{commercial}}</td>
<td>{{ date_soumission|date('Y-m-d') }}</td>
<td>{{ date_attribution|date('Y-m-d')}}</td>
<td>{{ val_total }}</td>
<td>{{ val_nette }}</td>
<td>{{client.nom}}</td>
<td>{{ departement.nom }}</td>
<td>{{ territoire.nom }}</td>

<td>{{ pays.libelle }}</td>
<td>{{ status }}</td>
<td>{{ etapedetransaction.num_etape }}</td>
<td>{{ confiance }}</td>
<td>{{ accord }}</td>




  </tr>
</table>
<h3> conclusion :  </h3>



</body>

<footer>
<br>
<br>
<br>
<br>
<br>
<br>
<div align="right">
</div>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div align="center">

<p>Talan-Application ~ Gestion des opportunités </p>
</div>
</footer>
</html>