<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="index3.html" class="brand-link">
        <img src="{{ asset('assets/img/talan.png') }}" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
        <span class="brand-text font-weight-light">Talan Tunisie</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img src="{{ asset(user.image) }}" class="img-circle elevation-2" alt="User Image">
            </div>
            <div class="info">
                <a href="#" class="d-block">{{ user.nom }}  {{ user.prenom }}</a>
            </div>
        </div>

        <!-- SidebarSearch Form -->
        <div class="form-inline">
            <div class="input-group" data-widget="sidebar-search">
                <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
                <div class="input-group-append">
                    <button class="btn btn-sidebar">
                        <i class="fas fa-search fa-fw"></i>
                    </button>
                </div>
            </div>
        </div>

        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <!-- Add icons to the links using the .nav-icon class
                     with font-awesome or any other icon font library -->

                <li class="nav-item">
                    <a href="/opportunity" class="nav-link">
                        <i class="fas fa-bullhorn"></i>
                        <p>
                         Opportunités
                        </p>
                    </a>
                </li>
                {% if user.role == '0' %}
                <li class="nav-item">
                    <a href="/departement" class="nav-link">
                        <i class="fas fa-file mr-2"></i>
                        <p>
                            Departements</p></a></li>
 {% endif %}

                             {% if user.role == '0' %}

                <li class="nav-item">
                    <a href="/territoire" class="nav-link">
                        <i class="fas fa-file mr-2"></i>
                        <p>
                            Territoires</p></a></li>
                <li class="nav-item">
                    <a href="/pays" class="nav-link">
                        <i class="fas fa-file mr-2"></i>
                        <p>
                            Pays</p></a></li>
                              {% endif %}

                              <li class="nav-item">

                            
                    <a href="/opportunity/rapport" class="nav-link">
                        <i class="fas fa-file mr-2"></i>
                        <p>
                            Rapport</p></a></li>

                               <li class="nav-item">
                    <a href="/opportunity/rapport/pdf" class="nav-link">
                        <i class="fas fa-file mr-2"></i>
                        <p>
                            Génerer rapport</p></a></li>

                               <li class="nav-item">
                    <a href="/opportunity/stat" class="nav-link">
                        <i class="fas fa-file mr-2"></i>
                        <p>
                            Statistique</p></a></li>


                            
                <li class="nav-item">
                    <a href="/chiffre" class="nav-link">
                        <i class="fas fa-file mr-2"></i>
                        <p>
                            chiffre d'affaire</p></a></li>
                    <li class="nav-item">
                    <a href="/client" class="nav-link">
                        <i class="fas fa-user"></i>
                        <p>
                            Client</p></a></li>
                <li class="nav-item">
                    <a href="{{ path('user_index') }}" class="nav-link">
                        <i class="fas fa-user"></i>
                        <p>
                            User</p></a></li>


            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>