{% extends 'back/base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{asset('assets/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css')}}">
    <link rel="stylesheet" href="{{asset('assets/plugins/datatables-responsive/css/responsive.bootstrap4.min.css')}}">
    <link rel="stylesheet" href="{{asset('assets/plugins/datatables-buttons/css/buttons.bootstrap4.min.css')}}">
    <script src="{{asset('assets4/vendors/js/vendor.bundle.base.js')}}"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <script src="{{asset('assets4/vendors/chart.js/Chart.min.js')}}"></script>
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="{{asset('assets4/js/off-canvas.js')}}"></script>
    <script src="{{asset('assets4/js/hoverable-collapse.js')}}"></script>
    <script src="{{asset('assets4/js/misc.js') }}"></script>
    <!-- endinject -->
    <!-- Custom js for this page -->
    <script src="{{asset('assets4/js/dashboard.js')}}"></script>
    <script src="{{asset('assets4/js/todolist.js')}}"></script>
    <script src="{{asset('assets4/js/file-upload.js')}}"></script>
{% endblock %}

{% block body %}        
     <section class="content" >
      <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
            <div class="card card-secondary">
              <div class="card-header">
                <h1 class="card-title">Formulaire de modification d'utilisateur </h1>
              </div>
    <div  >


        {{ form_start(form) }}
        <div class="card-body">

            <div class="form-group">
                <label for="exampleInputEmail1">Nom </label>

                {{ form_widget(form.nom,{ 'attr' : {'class' : 'form-control'}}) }}

            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Prenom</label>

                {{ form_widget(form.prenom,{ 'attr' : {'class' : 'form-control'}}) }}

            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Email</label>

                {{ form_widget(form.email,{ 'attr' : {'class' : 'form-control'}}) }}

            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Mot De Passe</label>

                {{ form_widget(form.mdp,{ 'attr' : {'class' : 'form-control'}}) }}

            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Territoire</label>

                {{ form_widget(form.territoire,{ 'attr' : {'class' : 'form-control'}}) }}

            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Role</label>

                {{ form_widget(form.role,{ 'attr' : {'class' : 'form-control'}}) }}

            </div>
            <div class="form-group">
                <label>Photo link</label>
                <input type="file" name="img[]" class="file-upload-default">
                <div class="input-group col-xs-3">

                    {{ form_widget(form.image,{ 'attr' : {'class' : 'form-control file-upload-info'}}) }}

                </div>

            </div>
            <div class="card-footer">

                <button type="submit" class="btn btn-primary">{{ button_label|default('Save') }}</button>
            </div>

        </div>
</div>

            {{ form_end(form) }}
            {% endblock %}
